paper/*.aux
paper/*.log
paper/ms.pdf
paper/*.blg
V62/

runs/include/utilities/
runs/include/gizmo_analysis/
__pycache__/
cache/

*.p
*.npy
log/
*.log
*.swp

m12i_positions/
.ipynb_checkpoints/

data/

.DS_Store
.vscode
