paper/*.aux
paper/*.log
paper/*.pdf
paper/*.bib
paper/*.blg
V62/

runs/include/utilities/
runs/include/gizmo_analysis/
runs/oceanic/__pycache__/
cache/

*.p
*.npy
log/

m12i_positions/
.ipynb_checkpoints/

